* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
}
.container>h1{
    color: crimson;
    text-align: center;
    font-size: 5.5rem;
}
.container>p{
    text-align: center;
    font-size: 1.8rem;
    opacity: 0.7;
}
/* .h2, h2 {
    font;
} */
.navbar-container {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navbar-container .logo h2 {
    display: inline-block;
    font-size: 50px;
    color: crimson;
}

.navbar-container i {
    display: inline-block;
    font-size: 50px;
    color: crimson;
}

.navbar-container .menu>span>a {
    color: red;
    text-decoration: none;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    transition: all ease 400ms;
}

.navbar-container .menu>span>a:hover {
    background-color: crimson;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: 900;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 0 25px;
}
.form-card{
    border: 2px solid black;
    width: 100%;
    height: 500px;
    padding-left: 20px;
    margin-bottom: 20px;
}
form>h1{
    padding-top: 25px;
    padding-bottom: 30px;
    color: crimson;
    text-align: center;
    box-sizing: border-box;
}

.container>.form-card{
    border: none;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    border-radius: 20px;
}
div>input{
   font-size: 25px;
   margin-left: 15px;

}
#blood-group{
    font-size: 25px;
    margin-left: 15px;
}

.col-sm-12>label{
    font-size: 25px;
    padding-left:15px;
    font-weight: 400;
}

form .btn {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    transition: 0.2s;
}
form .btn:hover {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: crimson;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    scale: 1.05;
}
form .btn:active {
    display: block;
    margin: 20px auto;
    padding: 10px 25px;
    background-color: rgb(255, 255, 255);
    color: crimson;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    scale: 0.9;
}

div>input{
    border: none;
    transition: all linear 0.2s;
    border-bottom: 2px solid rgb(0, 0, 0);
    outline: none;


}
div>input:hover{
    outline: none;
    border-bottom: 2px solid rgba(220, 20, 60, 1);    
}
.label-h2{
    color: crimson;
    opacity: 0.8;
}

select{
    border: none;
    border-bottom: 2px solid black;
    outline: none;
}
select:hover{
    outline: none;
    border-bottom: 2px solid rgba(220, 20, 60, 1); 
}
input[type="radio"] {
    accent-color: crimson; 
    width: 15px;
    height: 15px;
    cursor: pointer;
}
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
footer{
    box-sizing: border-box;
    background-color: #333333;
    width: 100vw;
    height: 100px;  
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
    position: relative;
    bottom: 0;
}
