* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: #f4f4f4;
    width: 100vw;
    height: 100vh;
}

.navbar-container {
    position: sticky;
    top: 0;
    box-sizing: border-box;
    width: 100vw;
    height: 100px;
    background-color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1;
}

.navbar-container .logo h2 {
    display: inline-block;
    font-size: 50px;
    color: crimson;
}

.navbar-container i {
    display: inline-block;
    font-size: 50px;
    color: crimson;
}

.navbar-container .menu>span>a {
    color: red;
    text-decoration: none;
    font-size: 25px;
    background-color: white;
    padding: 10px;
    border-radius: 15px;
    border: none;
    font-weight: 400;
    transition: all ease 400ms;
}

.navbar-container .menu>span>a:hover {
    background-color: crimson;
    color: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    font-weight: 900;
}

.menu {
    display: flex;
    justify-content: space-evenly;
    gap: 30px;
    padding: 0 25px;
}

.login-card{
    width: 50%;
    height:400px;
    background-color: aquamarine;
    margin: 30px auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.login-card>form{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}












footer{
    position: absolute;
    bottom: 0px;
    box-sizing: border-box;
    background-color: #333333;
    width: 100vw;
    height: 100px;  
    color: white;
    font-weight: 300;
    font-size: 30px;
    text-align: center;
    padding-top: 30px;
}